

<p>Your Chats</p>
{{model}}
{{#each conversation in model}}
  {{conversation.messages}}
{{/each}}

<p>New Chat</p>
<div class="new-msg-form">
  <!-- {{input type="text" placeholder="Recipient" value=messageTo class="messageTo-input"}} -->
  {{input type="text" placeholder="Message" value=body class="msg-input"}}
  <button {{action 'addConversation'}} class='submit'>Submit</button>
</div>


<!-- {{#each conversation in model}}
<div class="each-msg">

  {{#each user in conversation.users}}
  user: {{#link-to 'conversations.recipient' user.id}}{{user.name}}{{/link-to}} and
  {{/each}}

  <p>messages:</p>
  <ul>
  {{#each message in conversation.messages}}
    <li> {{message.body}} </li>
  {{/each}}
  </ul>

</div>
{{/each}} -->

<!-- {{outlet}} -->

<!-- <div class="new-msg-link">{{#link-to 'conversations.new'}}Add a new conversation{{/link-to}}</div> -->
<!-- <div class="new-msg-link">{{#link-to 'mailee' mailee.id}}Add a new conversation{{/link-to}}</div> -->



<!-- returns array of conversations with this user id in them -->
