<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <img src={{model.picture}} class="fitted-image">

    <ul class="list-unstyled">
      <li>Name: {{model.name}}</li>
      <li>Bio: {{model.bio}}</li>
      <li>Location: {{model.location}}</li>
      <li>Looking for: {{model.interestedIn}}</li>
    </ul>

    <p>
      {{#link-to 'match' model.id}}Find Matches{{/link-to}}
    </p>

    <h3 class="text-center">Matches</h3>
    <ul class="lined-list list-unstyled">

      <!-- <button class='btn btn-info' {{ action 'findMatches'}}> Find Matches </button> -->

      {{#each user in model.matches}}

      {{#link-to 'user' user}}
      <li>
        {{user.name}}
      </li>
      {{/link-to}}
      {{/each}}
    </ul>

  </div>
</div>
