<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <img src={{model.picture}} class="fitted-image">

    <ul class="list-unstyled">
      <li>Name: {{model.name}}</li>
      <li>Bio: {{model.bio}}</li>
      <li>Lovation: {{model.location}}</li>
      <li>Looking for: {{model.interestedIn}}</li>
    </ul>

    {{#link-to 'match' model.id}}Find Matches{{/link-to}}
  </div>
</div>
