<div class="row">
  <div class="col-sm-6 col-sm-offset-1 user-preview">

    <img src={{model.picture}} class="fitted-image">

    <ul class="list-unstyled user-info">
      <li>Name: {{model.name}}</li>
      <li>Bio: {{model.bio}}</li>
      <li>Location: {{model.location}}</li>
      <li>Looking for: {{model.interestedIn}}</li>

    </ul>
  </div>

  <div class="col-sm-3 col-sm-offset-1 text-center">

    <h3 class="text-center">Matches</h3>

    <p>
      {{#link-to 'match' model.id}}Find Matches{{/link-to}}
    </p>

    <ul class="lined-list list-unstyled">

      <!-- <button class='btn btn-info' {{ action 'findMatches'}}> Find Matches </button> -->

      {{#each user in model.matches}}

      <li>
        {{#link-to 'user' user}}
            {{user.name}}
        {{/link-to}}
        -
        ({{#link-to 'conversation' user}}
            Chat
        {{/link-to}})
      </li>


      {{/each}}
    </ul>

  </div>
</div>

{{outlet}}
